<!DOCTYPE html>
<html lang="en">
{% include 'includes/head' %}
<body>

  {% include 'includes/header' %}

  <section class="content">

    {% if pages.size > 0 or parent.pages.size > 0 %}
      {% comment %} Show subpages if there are any available {% endcomment %}
      <ul class="subpage-menu">
        <h3>
          {% if parent %}
            {{parent.title}}
          {% else %}
            {{title}}
          {% endif %}
        </h3>
        {% for subpage in pages %}
          <li {% if subpage.url == url %} class="active"{% endif %}>
            <a href="{{subpage.url}}">{{subpage.title}}</a>
          </li>
        {% endfor %}
        {% for subpage in parent.pages %}
        <li {% if subpage.url == url %} class="active"{% endif %}>
          <a href="{{subpage.url}}">{{subpage.title}}</a>
        </li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if pages.size > 0 or parent.pages.size > 0 %}
      <div class="wrapper">
        {{body}}
        {% if parent %}
        <p><a href="{{parent.url}}">&larr; Back to {{parent.title}}</a></p>
        {% endif %}
      </div>
    {% else %}
      {{body}}
      {% if parent %}
      <p><a href="{{parent.url}}">&larr; Back to {{parent.title}}</a></p>
      {% endif %}
    {% endif %}

  </section><!-- /content -->

  {% include 'includes/footer' %}
  {% include 'includes/scripts' %}
</body>
</html>
