@font-face {
  font-family: '<%= font_name %>';
  src: url('../fonts/<%= font_name %>.eot');
  src: url('../fonts/<%= font_name %>.eot?#iefix') format('embedded-opentype'),
       url('../fonts/<%= font_name %>.woff') format('woff'),
       url('../fonts/<%= font_name %>.ttf') format('truetype'),
       url('../fonts/<%= font_name %>.svg#<%= font_name %>') format('svg');
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: '<%= font_name %>';
    src: url('../fonts/<%= font_name %>.svg#<%= font_name %>') format('svg');
  }
}

.<%= font_name[0, font_name.length - 1] %> {
  &:before {
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-family: '<%= font_name %>';
    display: inline-block;
    line-height: 1;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
  }
  &[data-icon]:before {
    content: attr(data-icon);
  }
}

/** Sass variables **/
<% @glyphs.each do |name, value| %>
$accf-<%= name.to_s %>: '\<%= value[:codepoint].to_s(16) %>';
<% end %>

/** Sass mixins **/
<% @glyphs.each do |name, value| %>
@mixin accf-<%= name.to_s %>() {
  &:before {
    content: $accf-<%= name.to_s %>;
  }
}
<% end %>

