
// ================================================
// NAVIGATION
// - all navigation related styles go here
// ================================================


// Main Menu
// ------------------------------------------------

.main-menu {
  padding-left: 0;
  list-style: none;
  text-align: center;
}

.main-menu li {
  margin: 1.5rem 0;
  list-style-type: none;
  display: inline;
  text-transform: uppercase;
}

.main-menu li a {
  display: inline-block;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}
