<ul class="social">
  <li>
    <a href="{{site.meta['twitter']}}" target="_blank">
      <span class="icon icon-twitter"></span>
    </a>
    <a href="{{site.meta['facebook']}}" target="_blank">
      <span class="icon icon-facebook"></span>
    </a>
    <a href="{{site.meta['instagram']}}" target="_blank">
      <span class="icon icon-instagram"></span>
    </a>
    <a href="{{site.meta['email-campaign']}}" target="_blank">
      <span class="icon icon-email"></span>
    </a>
  </li>
</ul>
<footer class="footer">
  <div class="column">
    <h3>Our Location</h3>
    <address>
      3210 SE Taylor St.<br>
      Portland, OR 97214
    </address>
  </div>
  <div class="column">
    <h3>Service Times</h3>
    <p>
      9:00 AM<br/>
      11:15 AM
    </p>
  </div>
</footer>
<div class="copyright">
  <p>
    &copy; 2015. {{site.title}}. All Rights Reserved.
  </p>
</div>
