<ul class="social">
  <li>
    <a href="{{site.meta['twitter']}}" target="_blank">
      <span class="icon icon-twitter"></span>
    </a>
    <a href="{{site.meta['facebook']}}" target="_blank">
      <span class="icon icon-facebook"></span>
    </a>
    <a href="{{site.meta['instagram']}}" target="_blank">
      <span class="icon icon-instagram"></span>
    </a>
<!-- <a href="{{site.meta['email-campaign']}}" target="_blank">
  <span class="icon icon-email"></span>
</a> -->
  </li>
</ul>
<footer class="footer">
  <div class="column">
    <h3>Our Location</h3>
    <address>
      3210 SE Taylor St.<br>
      Portland, OR 97214<br/>
      <a href="https://www.google.com/maps/place/Redeemer+Church/@45.514762,-122.632118,17z/data=!3m1!4b1!4m2!3m1!1s0x5495a09158db3627:0x7de899755aaef07b">(Map)</a>
    </address>
  </div>
  <div class="column">
    <h3>Service Times</h3>
    <p>
      Sunday: 9:00 AM<br/>
      Sunday: 11:15 AM<br/>
      Child care provided
    </p>
  </div>
</footer>
<div class="copyright">
  <p>
    &copy; 2015. {{site.title}}. All Rights Reserved.
  </p>
</div>
