<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>{{site.title}} | {{title}}</title>
  <link rel="alternate" type="application/rss+xml" href="{{site.feed_url}}" />
  <link rel="stylesheet" type="text/css" href="/assets/build/styles/main.min.css" />
  <meta property="og:title" content="Redeemer Church at 3210 SE Taylor in Portland, OR" />
  <meta property="og:site_name" content="Redeemer Church"/>
  <meta property="og:url" content="http://redeemerpdx.com" />
  <meta property="og:description" content="Redeemer Church is a non-denominational Christian church that meets at 9am and 11:15am on Sunday mornings at 3210 SE Taylor in Portland, OR." />
  <meta property="og:image" content="http://redeemerpdx.com/redeemer-fb-og-image1.png" />
</head>