<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <!-- DNS Prefetch -->
  <link rel="dns-prefetch" href="/"/>
  <link rel="dns-prefetch" href="//cloud.typography.com" />
  <link rel="dns-prefetch" href="//www.google-analytics.com"/>

  <!-- Facebook image -->
  <meta property="og:image" content="http://redeemerpdx.com/assets/redeemer-fb-3.jpg" />

  <title>{{site.title}} | {{title}}</title>
  <link rel="alternate" type="application/rss+xml" href="{{site.feed_url}}" />

  <!-- Stylesheets -->
  <link rel="stylesheet" type="text/css" href="/assets/build/styles/redeemer.min.css" />
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6079932/689646/css/fonts.css" />

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/build/images/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="/assets/build/images/favicon.ico">

  <!-- FB Open Graph -->
  <meta property="og:title" content="Redeemer Church at 3210 SE Taylor in Portland, OR" />
  <meta property="og:site_name" content="Redeemer Church"/>
  <meta property="og:url" content="http://redeemerpdx.com" />
  <meta property="og:description" content="Redeemer Church is a non-denominational Christian church that meets at 9am and 11:15am on Sunday mornings at 3210 SE Taylor in Portland, OR." />

</head>
