
// ================================================
// + VARIABLES
// - all site variables go here
// ================================================


// Colors
// ------------------------------------------------

$white: #ffffff;
$black: #111111;

// Typography
// ------------------------------------------------

$font-family-sans-serif: 'Gotham A', 'Gotham B';
$font-family-serif: 'Surveyor Text A', 'Surveyor Text B';
